@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100vh;
    width: 100%;
}

#nav{
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav img{
    height: 80px;
}

#nleft, #nright{
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav a{
    pointer-events: all;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

#nav a:hover{
    color: #f39c12;
}

#back{
    height: 100vh;
    width: 100%;
}

#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    /* background-color: #000000d8; */  
}

#workingarea{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
    position: relative;
    /* border: 1px solid red;  */
}

#firstHero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    width: 100%;
    /* height: 100px; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#heroleft{
    min-width: 50%;
    /* height: 100px; */
    /* background-color: yellow; */
}

#heroleft .elem{
    position: relative;
    height: 8vw;
    overflow: hidden;
    /* background-color: red; */
}

#heroleft .elem h1:nth-child(1){
    top: 0;
}

#heroleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
    letter-spacing: 9px;
    font-family: "kajiro";
    font-weight: 100;
    font-size: 10vw;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(0deg, #888888 0%, #fff 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#heroleft .btn{
    margin-top: 2vw;
    padding: .8vw 3vw;
    font-size: 3vw;
    pointer-events: all;
    border: none;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 250%);
}

.btn:hover{
    background-color: #d90429;
}  

/* ****************************shop********************************* */
.shop{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.card {
    width: 80px;
    border-radius: .75rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description h4 {
    text-transform: uppercase;
    font-size: 22px;
    color: #000;
    text-decoration: solid;
    position: absolute;
    left: 10%;
}

.description button{
    width: 13vw;
    font-size: 1em;
    position: absolute;
    bottom: 2%;
    font-family: cursive;
    color: #000;
    transform: translate(35%, 0);
    text-transform: uppercase;
    border-radius: 50px;
}

.description button:hover{
    background-color: #E6E6FA;
}

input {
    display: none;
}

input:checked + label {
    width: 480px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('../images/800_x_600_avengers_ec604d30.jpeg');
}
.card[for="c2"] {
    background-image: url('images/800_x_600_avengers_ec604d30.jpeg');
}
.card[for="c3"] {
    background-image: url('images/final_blue_banner_4_copy_-_01_a50b5e9d.jpeg');
}
.card[for="c4"] {
    background-image: url('images/disney_banner_mobile_da6fee66.jpeg');
}

/* ****************************park******************************** */

.park{
    width: 100%;
    height: 100vh;
}

#park-section{
    background-color: #eaeaea;
    overflow: hidden;
}
.container1{
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:1000px;
    height:600px;
    padding:50px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}
#slide1{
    width:max-content;
    margin-top:50px;
}
.item{
    width:200px;
    height:300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow:  0 30px 50px #505050;
}
.item:nth-child(1),
.item:nth-child(2){
    left:0;
    top:0;
    transform: translate(0,0);
    border-radius: 0;
    width:100%;
    height:100%;
    box-shadow: none;
}
.item:nth-child(3){
    left:50%;
}
.item:nth-child(4){
    left:calc(50% + 220px);
}
.item:nth-child(5){
    left:calc(50% + 440px);
}
.item:nth-child(n+6){
    left:calc(50% + 660px);
    opacity: 0;
}
.item .content{
    position: absolute;
    top:50%;
    left:100px;
    width:300px;
    text-align: left;
    padding:0;
    color:#eee;
    transform: translate(0,-50%);
    display: none;
    font-family: system-ui;
}
.item:nth-child(2) .content{
    display: block;
    z-index: 11111;
}
.item .name{
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    background: linear-gradient(0deg, #59C173 0%, #a17fe0 75%, #5D26C1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    animation:showcontent 1s ease-in-out 1 forwards
}
.item .des{
    margin:20px 0;
    font-weight: 600;
    color: #fca311;
    text-transform: uppercase;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
.item button{
    padding:10px 20px;
    border:none;
    border-radius: 50px;
    background: #bac383;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.6s 1 forwards
}
@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}
.buttons{
    position: absolute;
    bottom:30px;
    z-index: 222222;
    text-align: center;
    width:100%;
}
.buttons button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
}.buttons button:hover{
    background-color: #bac383;
}


/* ************************************walt******************************************** */
#walt-section{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.banner{
    /* object-fit: cover; */
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: absolute;
}

.banner img{
    /* background-image: url(/images/wallpaper3.jpg); */
    object-fit: cover;
    width: 140%;
}

.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 8%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item2{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}

.banner .slider .item2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner #box{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}


/* .banner #box h1{
    font-family: 'ICA Rubrik';
    font-size: 12em;
    line-height: 1em;
    color: transparent;
    position: absolute;
    text-transform: uppercase;
} */

#box button{
    padding: 1vw 1.3vw;
    font-size: 2em;
    letter-spacing: -.05vw;
    font-weight: 700;
    position: absolute;
    top: -50%;
    left: 58%;
    transform: translate(-100%, -200%);
    z-index: 9999;
    border-radius: 100px;
    border: 1px solid #c6c6c6;
}

.banner #box .model{
    background-image: url(../images/walt_disney1.png);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}

